.backlog {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 50px 30px 1fr;

    grid-template-areas:
     "backlog__name" 
     "backlog__search"
     "backlog__tasks";

    background-color: white;
}

.backlog__name {
    text-align: center;
    vertical-align: middle;
    font-size: 24pt;
}

.backlog__search {
    text-align: center;
}

.backlog__hide {
    display: none;
}

.backlog__tasks-item {
    border: 1px solid black;
    margin: 0 0.5em 0.5em 0.5em;
}

.backlog-input {
    text-align:center;
}

@media screen and (max-width: 1084px) {
    .backlog {
        visibility: hidden;
        display: none;
    }
    .app-wrapper {
        grid-template-columns: 1fr;
    
        grid-template-areas: "calendar";
    }
}