.calendar {
    display: grid;
    grid-template-rows: 50px 1fr;

    grid-template-areas:
     "calendar__button-panel" 
     "calendar__tabel-panel";
}

.calendar__lines-panel {
    border: 1px solid black;
    border-right: none;
    background-color: white;
}

.calendar__lines-dates {
    /* height: 25px; */
    border-bottom: 1px solid black;
}

.calendar div {
    text-align: center;
}

.calendar__button-panel {
    display: flex;
    justify-content: space-between;
}

.user-task-for-day {
    width: 94%;
    border: 1px solid black;
    margin: 0.1em;
    display: inline-block;
    position: relative;
}

.user-task-for-day:hover::after {
    content: attr(data-title);
    position:absolute;
    left: 15%; top: 30%;
    z-index: 1;
    font-size: 11px;
    border:1px solid black;
    background-color: white;;
}

.calendar__zone-day {
    min-height: 25vh;
}

.overloaded-day {
    background-color: rgb(253, 226, 226);
}

.not-overloaded-day {
    background-color: rgb(228, 255, 228);
}

@media (max-width: 1084px) {
    body {
        font-size: 10pt;
    }
    button {
        font-size: 18pt;
    }
    .calendar {
        grid-template-rows: 100px 1fr;
    }
    .calendar__lines-dates {
        font-size: 10pt;
    }
    .calendar__zone-day {
        min-height: 10vh;
    }
    .user-task-for-day {
        font-size: 14pt;
    }
    .calendar button {
        width: 100%;
    }
}