.calendar {
    display: grid;
    grid-template-rows: 50px 1fr;

    grid-template-areas:
     "calendar__button-panel" 
     "calendar__tabel-panel";
}

.calendar__lines-panel {
    border: 1px solid black;
    border-right: none;
    background-color: white;
}

.calendar__lines-dates {
    height: 25px;
    border-bottom: 1px solid black;
}

.calendar div {
    text-align: center;
}

.calendar__button-panel {
    display: flex;
    justify-content: space-between;
}

.user-task-for-day {
    border: 1px solid black;
    margin: 0.1em;
}